@{
    ViewData["Title"] = "About us";
}
<h1 class="mt-4">@ViewData["Title"]</h1>
<div class="container-fluid p-4">
    <h5>We are GDipSA57 Team 4, a warm and energetic team. This website is our team's excellent job. Here are our teammates!</h5>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/images/Dian.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 1" />
            <p>
                Dian
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/WRX.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 2" />
            <p>
                Wang Ruixian
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/YCY.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 3" />
            <p>
                Yan Chenyi
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/images/ZY.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 4" />
            <p>
                Zhu Yi
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/TYB.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 5" />
            <p>
                Tan Yibai
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/LH.jpg" class="img-fluid mb-2" style="width: 228px; height: 228px; object-fit: cover;" alt="Image 6" />
            <p>
                Li Hao
            </p>
        </div>
    </div>
</div>



