<head>
    <title>Privacy Policy</title>
</head>


<div class="container mt-5">
    <!-- Header -->
    <h1 class="mb-5">Privacy Policy</h1>

    <!-- Section 1 -->
    <section>
        <h2>1. Introduction</h2>
        <p>
            We value your privacy and strive to protect your personal information. This policy outlines how we handle and protect your data.
        </p>
    </section>

    <!-- Section 2 -->
    <section class="mt-4">
        <h2>2. Data Collection</h2>
        <p>
            We may collect various information including, but not limited to, your name, address, email, and other personal details.
        </p>
    </section>

    <!-- Section 3 -->
    <section class="mt-4">
        <h2>3. Use of Data</h2>
        <p>
            We use the collected data to improve our services, process transactions, send periodic emails, and enhance user experience.
        </p>
    </section>

    <!-- Section 4 -->
    <section class="mt-4">
        <h2>4. Data Protection</h2>
        <p>
            We implement various security measures to ensure the safety of your personal information. Your data is stored in secured networks and is accessible only by a limited number of authorized persons.
        </p>
    </section>
</div>
