@model Cart
@{
	ViewData["Title"] = "Cart";
}
<div>
	@if (Model != null && Model.CartDetail != null && Model.CartDetail.Count > 0)
	{
		<h3>My Cart</h3>
		<div class="input-group mb-3">
			<button class="btn btn-outline-secondary" type="button">+</button>
			<input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
			<button class="btn btn-outline-secondary" type="button">-</button>
		</div>
	}
	else
	{
		<h3>Cart is Empty</h3>
	}
</div>