<h1 class="mt-5 mb-5">Congratulations!</h1>
<div class="checkout-container">
        <p>Your purchase was successful. Thank you for your order.</p>
        <p>Order Date: @ViewBag.OrderDate</p>
        <a href="/Gallery/Index" class="continue-btn">Continue Shopping</a>
</div>


