<h1 class="mt-5 mb-5">Congratulations!</h1>
<div class="checkout-container">
        <p>Your purchase was successful. Thank you for your order.</p>
        <p>Order Date: @ViewBag.OrderDate</p>
        <a href="/Gallery" class="continue-btn">Continue Shopping</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/PurchaseHistory" class="continue-btn">See the order</a>
</div>


